{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block heading %}{{ object.first_name}} {{ object.last_name }}{% endblock %}

{% block content %}

<form method="post">
      
    {% csrf_token %}
    {% bootstrap_form form %}

    {% bootstrap_form_errors form %}
    <br><hr>
    <p>{% bootstrap_button button_type="submit" content="Update Profile" %}
    {% bootstrap_button "Cancel" button_type="link" href=object.get_absolute_url button_class="btn-secondary" %}</p>
</form>

{% endblock %}
