<p>Hi {{ATTORNEY_NAME}},</p>

<p>You have received a request for a consultation!</p>

<ul>
	<li>Potential Client: {{CLIENT_NAME}}</li>
	<li>Deadline: {{MATTER_DEADLINE}}</li>
	<li>Phone number: <a href="tel:{{CLIENT_PHONE_NUMBER}}">{{CLIENT_PHONE_NUMBER}}</a></li>
	<li>email: <a href="mailto:{{CLIENT_EMAIL}}">{{CLIENT_EMAIL}}</a></li>
</ul>

<p>{% if CONSENT_TO_CONTACT %}</p>

<p>Please contact them within 72 hours.</p>

<p>{% else %}</p>

<p>The potential client will contact you.</p>

<p>{% endif %}</p>

<p>You can view and update this request at <a href="{{LINK_TO_REFERRAL}}">{{LINK_TO_REFERRAL}}</a>.</p>

<p>Warm regards,</p>

<p>DC Refers</p>
