<p>Hi {{ATTORNEY_NAME}},</p>

<p>On {{DATE_OF_REFERRAL}}, you received a request via LowBono.org for a consultation with {{CLIENT_NAME}}. In their referral notes, this person indicated that their matter has a deadline on {{MATTER_DEADLINE}} &ndash; and that date is almost here. If you haven&rsquo;t been able to contact this potential client yet, please reach out to them urgently or get in touch with us to explain. Here&rsquo;s the information our portal received about how you should get in touch with them:</p>

<ul>
	<li>Potential Client: {{CLIENT_NAME}}</li>
	<li>Deadline: {{MATTER_DEADLINE}}</li>
	<li>Phone number: <a href="tel:{{CLIENT_PHONE_NUMBER}}">{{CLIENT_PHONE_NUMBER}}</a></li>
	<li>email: <a href="mailto:{{CLIENT_EMAIL}}">{{CLIENT_EMAIL}}</a></li>
</ul>

<p>You can view and complete reporting for this request at <a href="{{LINK_TO_REFERRAL}}">{{LINK_TO_REFERRAL}}</a>.</p>

<p>This isn&rsquo;t the first time we&rsquo;ve followed up with you about this referral. We&rsquo;ve marked it as &ldquo;overdue&rdquo; in our system and DC Refers staff may follow up with you personally about it.</p>

<p>Warm regards,</p>

<p>&nbsp;</p>

<p>DC Refers</p>
