<p>Hi {{ATTORNEY_NAME}},</p>

<p>We asked you to report on the status of one or more matters you received through DC Refers. It&#39;s been a while since our last reminder (they should be coming monthly if you haven&rsquo;t indicated the referral matured into an engagement, and quarterly if you have). We&rsquo;ve marked this matter as &quot;overdue&quot; in our system and DC Refers staff may follow up with you personally about it.</p>

<p>You can view and complete reporting for this request at <a href="{{LINK_TO_REFERRAL}}">{{LINK_TO_REFERRAL}}</a>.</p>

<p>Warm regards,</p>

<p>&nbsp;</p>

<p>DC Refers</p>
