<p>Hi {{ATTORNEY_NAME}},</p>

<p>On {{DATE_OF_REFERRAL}}, you received a request via LowBono.org for a consultation with {{CLIENT_NAME}}.</p>

<p>As of this message, this matter has been marked as {{MATTER_STATUS}} in DC Refers&rsquo; system for {{MAXIMUM_DURATION}} months in a row. Please complete your reporting and close this referral. Should the client reach out again at a later date, you can reopen this referral. We&rsquo;ve marked this matter as &ldquo;overdue&rdquo; in our system and DC Refers staff may follow up with you personally about it.</p>

<p>You can complete your reporting at <a href="{{LINK_TO_REFERRAL}}">{{LINK_TO_REFERRAL}}</a>.</p>

<p>Warm regards,</p>

<p>&nbsp;</p>

<p>DC Refers</p>
