<p>Hi {{CLIENT_NAME}},</p>

<p>You requested a consultation from {{ATTORNEY_NAME}} through LowBono.org.</p>

<p>Attorney Phone number: <a href="tel:{{ATTORNEY_PHONE_NUMBER}}">{{ATTORNEY_PHONE_NUMBER}}</a></p>

<p>We recommend you contact the lawyer to set up the consultation. However, if you have consented to the lawyer contacting you they should do so within 72 hours.</p>

<p>The attorney may request information to confirm you qualify for modest means services, per the policies of their practice. If you do not qualify for modest means services, you may still be able to work with the attorney through their standard fee structure.</p>

<p>Warm regards,</p>

<p>&nbsp;</p>

<p>DC Refers</p>
