<p>Hi {{CLIENT_NAME}},</p>

<p>On {{DATE_OF_REFERRAL}}, when you requested a referral to {{ATTORNEY_NAME}} via LowBono.org, you indicated that your matter had a deadline on {{MATTER_DEADLINE}} &ndash; and that date is almost here. Because you have a deadline coming up so soon, please reach out to this attorney directly; you may not have enough time to wait to hear from them via our service. (We have also written to this attorney to suggest they contact you directly.)</p>

<p>Here is the contact information for the person you selected for a consultation:</p>

<p>Phone number: {{ATTORNEY_PHONE_NUMBER}}</p>

<p>Warm regards,</p>

<p>&nbsp;</p>

<p>DC Refers</p>
