{% extends "lowbono_cms/base.html" %}
{% load static %}
{% load i18n %}
{% load cms_tags sekizai_tags %}

{% block content %}
<div class="container content-space-t-2">
  <div class="w-lg-75 text-center mx-lg-auto">
    <div class="mb-5 mb-md-10 mt-10">
      <h2>Join our Directory</h2>
      <div class="mt-5">
        <a class="btn btn-success" href="https://form.jotform.com/70377124350147" target="_blank">Join as a lawyer</a>
        <a class="btn btn-success" href="https://form.jotform.com/82135287007151" target="_blank">Join as a mediator</a>
      </div>
      </div>
  </div>
  
</div>
{% endblock %}