{% extends "lowbono_cms/base.html" %}
{% load static %}
{% load i18n %}
{% load cms_tags sekizai_tags %}

{% block content %}
<div class="bg-img-start" style="background-image: url({% static 'lowbono_cms/assets/svg/components/card-11.svg' %});">
  <div class="container content-space-t-3 content-space-b-2">
    <div class="w-md-75 w-lg-50 text-center mx-md-auto">
      <h2>Terms of Service</h2>
    </div>
  </div>
</div>
<div class="container content-space-1 content-space-md-3">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      {% placeholder 'terms_description' %}
    </div>
  </div>
</div>
{% endblock %}